* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #495057;
}

.bg-grey {
  background: #f7f7f7;
}

section > .container {
  width: 1380;
  display: block;
  padding: 30px 0px;
}

/*-----Banner-----*/
#banner {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-position: center;
}
#banner h1,
#banner span {
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#banner h1 {
  top: 25%;
}
#banner span {
  top: 40%;
}

/*-----Navbar-----*/
#nav-bar .container-nav {
  position: relative;
  margin: 0 140px;
}
#nav-bar a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
#nav-bar .row {
  border-right: 1px solid #ced4da;
}
#nav-bar .col-md {
  text-align: center;
  line-height: 50px;
  color: #000;
  border-left: 1px solid #ced4da;
  height: 50px;
}
.avatar {
  border-radius: 50%;
  border: 10px solid #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/*-----Thông tin cá nhân-----*/
#about .container {
  padding: 0;
}
.section-title {
  padding-bottom: 20px;
}
#target {
  background-color: #f7f7f7;
  padding: 50px 90px;
  line-height: 1.5;
  font-size: 15px;
}
#personal-info {
  background-color: #f1f3f5;
  padding: 50px 90px;
  line-height: 1.6;
  font-size: 15px;
}
.mt-40 li {
  list-style-type: none;
  margin-left: -30px;
}
.info-icon {
  margin-left: 10px;
  padding-top: 20px;
}

/*-----Thông tin nghề nghiệp-----*/
.timeline {
  padding-top: 5px;
  padding-bottom: 5px;
}
/*-----Kinh nghiệm-----*/
.experience {
  border: solid 1px #ced4da;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 70px 1fr;
  height: 600px;
}
.experience-block {
  grid-column: 1/ -1;
}
.experience-content {
  padding-bottom: 15px;
}

/*-----Học vấn-----*/
.education {
  border: solid 1px #ced4da;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 70px 1fr;
  height: 600px;
}
.education-block {
  grid-column: 1/ -1;
}
.education-content {
  padding-bottom: 20px;
}

/*-----Hoạt động-----*/
.activity {
  border: solid 1px #ced4da;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 70px 1fr;
  height: 600px;
}
.activity-block {
  grid-column: 1/ -1;
}
.activity-content {
  padding-bottom: 20px;
}

/*-----Sở thích-----*/
.hobby {
  border: solid 1px #ced4da;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 70px 1fr;
  height: 380px;
}
.hobby-block {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  gap: 10px;
}
.hobby-icon {
  width: 40px;
  height: 40px;
  border: 1px solid #199cdb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

/*-----Ngôn ngữ-----*/
.language {
  border: solid 1px #ced4da;
  font-weight: 700;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 70px 1fr;
  height: 380px;
}

/*-----Kĩ năng-----*/
.skill {
  border: solid 1px #ced4da;
  font-weight: 700;
  padding: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 70px 1fr 1fr 1fr 1fr;
  height: 380px;
}
.dash-gray {
  background: #ced4da;
  display: inline-block;
  height: 4px;
  width: 45px;
}
.dash-blue {
  background: #199cdb;
  display: inline-block;
  height: 4px;
  width: 45px;
}
.skill-block {
  grid-column: 1/-1;
}

/*-----Chứng chỉ-----*/
.certificate-content {
  display: flex;
  gap: 20px;
}
.certificate-1 {
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 20px;
}
.certificate-2 {
  border-left: 1px solid #d6c08d;
  border-bottom: 1px solid #d6c08d;
  padding-bottom: 20px;
}
.section-title-2 {
  padding-bottom: 30px;
}

/*-----Dự án-----*/
.title {
  border: 1px solid #ced4da;
  border-bottom: none;
  padding: 15px;
  display: block;
  text-decoration: none;
}
.project-content {
  border: 1px solid #ced4da;
  border-bottom: none;
  padding: 15px 15px 0 15px;
}
#project tr {
  border-bottom: 1px solid #ced4da;
}
table {
  border: 1px solid #ced4da;
  height: 220px;
}
td {
  padding-left: 10px;
}
.year {
  display: inline-block;
  color: #fff;
  background-color: #199cdb;
  border-radius: 15px;
  padding: 5px 10px;
}
.project-content .icon-user-1 {
  padding-left: 20px;
}
.position {
  display: inline-block;
  padding-left: 10px;
}

/*-----Footer-----*/
.footer ul li {
  display: inline-block;
  padding: 0 20px;
}
.footer ul {
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
}
.footer-text {
  display: inline-block;
}
/*-----ICON-----*/
.ic-toolbox,
.ic-mic,
.ic-telescope,
.ic-pencil,
.ic-tools-2 {
  font-size: 35px;
}
.icon-facebook-circled,
.icon-linkedin-circled,
.icon-github-circled {
  color: #199cdb;
  font-size: 30px;
  padding-right: 5px;
}
.icon-twitter,
.icon-facebook,
.icon-gplus,
.icon-linkedin,
.icon-user,
.icon-doc-text-inv,
.icon-mail-alt,
.icon-star-1,
.ic-strategy,
.icon-book,
.icon-tv,
.icon-music {
  color: #199cdb;
}
